Importing The Dependencies

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.utils import resample
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import pickle

Importing The Dataset

In [8]:
df = pd.read_csv('../Dataset/Rainfall.csv')

Getting Some Basic Understanding About Data

In [13]:
df.head()

   day  pressure   maxtemp  temparature  mintemp  ...  cloud   rainfall  sunshine          winddirection  windspeed
0    1     1025.9     19.9         18.3     16.8  ...      49       yes       9.3                   80.0       26.3
1    2     1022.0     21.7         18.9     17.2  ...      83       yes       0.6                   50.0       15.3
2    3     1019.7     20.3         19.3     18.0  ...      91       yes       0.0                   40.0       14.2
3    4     1018.9     22.3         20.6     19.1  ...      88       yes       1.0                   50.0       16.9
4    5     1015.9     21.3         20.7     20.2  ...      81       yes       0.0                   40.0       13.7

[5 rows x 12 columns]

In [10]:
df.shape

(366, 12)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   day                     366 non-null    int64
 1   pressure                366 non-null    float64
 2   maxtemp                 366 non-null    float64
 3   temparature             366 non-null    float64
 4   mintemp                 366 non-null    float64
 5   dewpoint                366 non-null    float64
 6   humidity                366 non-null    int64
 7   cloud                   366 non-null    int64
 8   rainfall                366 non-null    object
 9   sunshine                366 non-null    float64
 10           winddirection  365 non-null    float64
 11  windspeed               365 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 34.4+ KB

In [17]:
df.columns = df.columns.str.strip()

Data Preprocessing

df1 = df.drop('day', axis = 1)

In [22]:
df1.head()

   pressure  maxtemp  temparature  mintemp  dewpoint  humidity  cloud rainfall  sunshine  winddirection  windspeed
0    1025.9     19.9         18.3     16.8      13.1        72     49      yes       9.3           80.0       26.3
1    1022.0     21.7         18.9     17.2      15.6        81     83      yes       0.6           50.0       15.3
2    1019.7     20.3         19.3     18.0      18.4        95     91      yes       0.0           40.0       14.2
3    1018.9     22.3         20.6     19.1      18.8        90     88      yes       1.0           50.0       16.9
4    1015.9     21.3         20.7     20.2      19.9        95     81      yes       0.0           40.0       13.7

In [26]:
df1.isnull().sum()

pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
rainfall         0
sunshine         0
winddirection    1
windspeed        1
dtype: int64

In [31]:
df1['winddirection'] = df1['winddirection'].fillna(df1['winddirection'].mode()[0])
df1['windspeed'] = df1['windspeed'].fillna(df1['windspeed'].median())

In [33]:
df1.isnull().sum()

pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
rainfall         0
sunshine         0
winddirection    0
windspeed        0
dtype: int64

In [35]:
df1.rainfall = df1.rainfall.map({'yes' : 1, 'no' : 0})

In [36]:
df1.head()

   pressure  maxtemp  temparature  mintemp  dewpoint  humidity  cloud  rainfall  sunshine  winddirection  windspeed
0    1025.9     19.9         18.3     16.8      13.1        72     49         1       9.3           80.0       26.3
1    1022.0     21.7         18.9     17.2      15.6        81     83         1       0.6           50.0       15.3
2    1019.7     20.3         19.3     18.0      18.4        95     91         1       0.0           40.0       14.2
3    1018.9     22.3         20.6     19.1      18.8        90     88         1       1.0           50.0       16.9
4    1015.9     21.3         20.7     20.2      19.9        95     81         1       0.0           40.0       13.7

Exploratory Data Analysis (EDA)

In [41]:
sns.set(style = 'whitegrid')

In [42]:
df1.describe()

          pressure     maxtemp  temparature     mintemp  ...    rainfall    sunshine  winddirection   windspeed
count   366.000000  366.000000   366.000000  366.000000  ...  366.000000  366.000000     366.000000  366.000000
mean   1013.742623   26.191257    23.747268   21.894536  ...    0.680328    4.419399     101.284153   21.534153
std       6.414776    5.978343     5.632813    5.594153  ...    0.466988    3.934398      81.722827   10.056054
min     998.500000    7.100000     4.900000    3.100000  ...    0.000000    0.000000      10.000000    4.400000
25%    1008.500000   21.200000    18.825000   17.125000  ...    0.000000    0.500000      40.000000   13.725000
50%    1013.000000   27.750000    25.450000   23.700000  ...    1.000000    3.500000      70.000000   20.500000
75%    1018.100000   31.200000    28.600000   26.575000  ...    1.000000    8.200000     190.000000   27.825000
max    1034.600000   36.300000    32.400000   30.000000  ...    1.000000   12.100000     350.000000   59.500000

[8 rows x 11 columns]